<div class="row">
  <div class="col-md-12 col-md-offset-2">
    <h1>Client</h1>
    <form [formGroup]="this.clientService.dataForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Libelle</label>
        <input type="text" class="form-group" formControlName="libelle" id="libelle">
      </div>
      <div class="form-group">
        <label>Adresse</label>
        <input type="text" class="form-group" formControlName="adresse" id="adresse">
      </div>
      <div class="form-group">
        <label>Téléphone</label>
        <input type="text" class="form-group" formControlName="tel" id="tel">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-group" formControlName="email" id="email">
      </div>
      <div class="form-group">
        <label>Fax</label>
        <input type="text" class="form-group" formControlName="fax" id="fax">
      </div>
      <div class="form-group">
        <label>Login</label>
        <input type="text" class="form-group" formControlName="login" id="login">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-group" formControlName="pwd" id="pwd">
      </div>
      <button class="btn btn-primary">Save</button>
    </form>

  </div>

</div>
